<h1>Rainforest</h1>

<%= link_to("New Product", new_product_path)  %>

<%= @products.each do |product| %>
  <%= link_to product.name, product_path(product) %>
  <%= product.description %>
  <%= product.price %>
<% end %>
